﻿@page
@model RazorTodoApp.Pages.TodoList.CreateModel

<br />
<h2 class="text-info">Create New Todo</h2>
<br />

<div class="border container" style="padding:30px">
    <form method="post">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Todo.Date"></label>
            </div>
            <div class="col-6">
                <input asp-for="Todo.Date" class="form-control" />
            </div>
            <span asp-validation-for="Todo.Date" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Todo.Task"></label>
            </div>
            <div class="col-6">
                <input asp-for="Todo.Task" class="form-control" />
            </div>
            <span asp-validation-for="Todo.Task" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Todo.EstimatedTime"></label>
            </div>
            <div class="col-6">
                <input asp-for="Todo.EstimatedTime" class="form-control" />
            </div>
            <span asp-validation-for="Todo.EstimatedTime" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Todo.Person"></label>
            </div>
            <div class="col-6">
                <input asp-for="Todo.Person" class="form-control" />
            </div>
            <span asp-validation-for="Todo.Person" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Todo.Status"></label>
            </div>
            <div class="col-6">
                <input asp-for="Todo.Status" class="form-control" />
            </div>
            <span asp-validation-for="Todo.Status" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-3 offset-3">
                <input type="submit" value="Create" class="btn btn-primary form-control" />
            </div>
            <div class="col-3">
                <a asp-page="Index" class="btn btn-success form-control">Back to List</a>
            </div>
        </div>
    </form>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />

}

