﻿@page
@model RazorTodoApp.Pages.TodoList.IndexModel

<br />
<div class="container row p-0 m-0">
    <div class="col-9">
        <h2 class="text-info">Todo List</h2>
    </div>
    <div class="col-3">
        <a asp-page="Create" class="btn btn-info form-control text-white">Create New Todo</a>
    </div>

    <div class="col-12 border p-3 mt-3">
        <form method="post">
            @if (Model.Todos.Count() > 0)
            {
                <table class="table table-striped border">
                    <tr class="table-secondary">
                        <th>
                            <label asp-for="Todos.FirstOrDefault().Date"></label>
                        </th>
                        <th>
                            <label asp-for="Todos.FirstOrDefault().Task"></label>
                        </th>
                        <th>
                            <label asp-for="Todos.FirstOrDefault().EstimatedTime"></label>
                        </th>
                        <th>
                            <label asp-for="Todos.FirstOrDefault().Person"></label>
                        </th>
                        <th>
                            <label asp-for="Todos.FirstOrDefault().Status"></label>
                        </th>
                        <th>

                        </th>
                    </tr>
                    @foreach (var item in Model.Todos)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(m => item.Date)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.Task)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.EstimatedTime)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.Person)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.Status)
                            </td>
                            <td>
                                <button asp-page-handler="Delete" asp-route-id="@item.Id" onclick="return confirm('Are you sure you want to delete?')" class="btn btn-danger btn-sm"> Delete</button>
                                <a asp-page="Edit" asp-route-id="@item.Id" class="btn btn-success btn-sm text-white">Edit</a>
                            </td>
                        </tr>
                    }
                </table>
            }
            else
            {
                <p>No books available.</p>
            }
        </form>
    </div>
 </div>
